{"changed":true,"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","value":"Click==7.0\nFlask==1.0.2\nFlask-PyMongo==2.2.0\nJinja2==2.10\nMarkupSafe==1.1.0\nWerkzeug==0.14.1\nitsdangerous==1.1.0\npymongo==3.7.2","undoManager":{"mark":-2,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":14},"end":{"row":7,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1561984425757}