.card-body {
    width: 75%;
    margin-left: 0;
    left: auto;
    right: auto;
    white-space: pre-wrap;
}

#search [type="search"] [name="query"]
{
     height: 30px;
     width: 50px;
}


h3 {margin-top: 10%}   
   
.main { margin-top: 20px;}

.card-image {width:25%;}

h5 .lead-search {margin-bottom: 0}   

p .heading {margin-top: 30%;}


.card-image {white-space: pre-wrap;
            margin-bottom: -80px;
}


h1 {text-align: center;
    margin-top: 20px;
    
}

p {margin-top: 20%;}



.nav-wrapper {background-color: blue;}


.brand-logo{text-align:left;}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}



