{% extends 'base.html' %} {% block content %}
<h3>Add recipe</h3>
<div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <input id="category_name" name="category_name" type="text" class="validate">
                    <label for="icon_prefix" style="color:black">Category Name.  (* Please use SINGLE names or use '_' to keep together.)</label>
                </div>
            <!--</div>-->
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="recipe_name" name="recipe_name" type="text">
                <label for="icon_prefix" style="color:black">Recipe Name</label>
            </div>
        <!--</div>-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="calories" name="calories" type="text">
                <label for="icon_prefix" style="color:black">Calories *Per Serving</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="short_description" id="short_description" class="materialize-textarea"></textarea>
                <label for="icon_prefix" style="color:black">Short Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="ingredients" id="ingredients" class="materialize-textarea"></textarea>
                <label for="icon_prefix" style="color:black">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="methods" id="methods" class="materialize-textarea"></textarea>
                <label for="icon_prefix" style="color:black">Methods</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">add_a_photo</i>
                <textarea name="image" id="image" class="materialize-textarea"></textarea>
                <label for="icon_prefix" style="color:black">Add Image Link</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">touch_app</i>
                <textarea name="username" id="username" class="materialize-textarea"></textarea>
                <label for="username" style="color:black">Username (* Please use SINGLE username only!)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="date_added" name="date_added" type="text" class="datepicker">
                <label for="icon_prefix" style="color:black">Date Added</label>
            </div>
        </div>

        <div class="row">
            <div class="switch">
                <label>
                  <input id="is_vegetarian" name="is_vegetarian" type="checkbox">
                  <span class="lever"></span>
                  Is Vegetarian
                </label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" style="background-color:orangered" name="action">Add recipe
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
        </div>
        </div>
    </form>
    <br>
    <button onclick="goBack()" class="waves-effect waves-light btn" style="background-color:orangered;float:right">Go Back</button></i>
</div>

{% endblock %}