{% extends "base.html" %} {% block content %}

<h1 class="title">Recipes</h1>
{#{{referred to https://github.com/pierceoneill/code-institute-milestone-project-04/blob/master/templates/recipes.html for recipe-cards code.}}#}



<div id="recipe-cards" class="row">
    {% for recipe in recipes %}
    <div class="col s12 m4 l3 recipe-card" data-date="{{recipe.date_added}}">

        <div class="card-heading">

            <div class="card-title" style="text-align:center">
                <h6><span id="recipe_name" name="recipe_name"><i><strong>{{recipe.recipe_name}}</i></strong></span></h6>

            </div>
        </div>
        Views: <i class="fa fa-eye" aria-hidden="true" style="color: blue">&nbsp{{recipe.views}}</i> <br> Likes: <i class="fa fa-heart" aria-hidden="true" style="color: red">{{recipe.likes}}&nbsp</i><br>&nbsp <strong>Recipe Category</strong>: {{recipe.category_name}}


        <div class="card-image">
            <img src="{{recipe.image}}" width="200" height="200" style="margin-top" : 40%;>
        </div>


        <div class="card-body">

            <p id="short_description"></p><strong><em>{{recipe.short_description}}</strong></em>
            </p>
              <p class="invite to share on social media">Share this recipe!
                <i class="fa fa-facebook" aria-hidden="true" style="color: blue"></i>
                <i class="fa fa-twitter" aria-hidden="true" style="color: light-blue"></i></p>
        </div>

        <div class="card-footer">

          

            <div class="card-action">
                <a href="/recipe/{{ recipe._id }}"> <button class="btn waves-effect waves-light" type="submit" style="background-color:orangered" name="action">See More
                <i class="material-icons right">view_list</i>
             </button></a>
                <br><br><br>

            </div>

        </div>




        <!-- more display -->
    </div>
    {% endfor %} {% endblock %}