{% extends "base.html" %} {% block content %}


<div class="container col s4 offset-s8"><span class="flow-text"></span>
    <form action='{{url_for("login")}}' method='POST' class="col s12 m6 center-align">

        <div class="row">

            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="username" name='username' type="text" class="validate font-color" placeholder="username" required> {% for message in messages %}
                <h5 class="font3">
                    {{ message }}
                </h5>
                {% endfor %}
            </div>
        </div>


        <div class="row">

            <div class="input-field col s6">
                <i class="material-icons prefix">vpn_key</i>
                <input id="password" name='password' type="password" class="validate font-color" placeholder="Password" required> {% with messages = get_flashed_messages() %} {% if messages %}
                <div class="flashes">

                    {% for message in messages %}
                    <strong class="flash-color">
                         {{ message }}                                                                
                     </strong> {% endfor %}

                </div>
                {% endif %} {% endwith %}
            </div>
        </div>

            <!-- button to submit form -->

            <div class="row">

                <div class="col-md-12">
                    <button class="btn btn-bg waves-effect waves-light" style= "background-color:orangered" type="submit" name="action">Login
                    <i class="material-icons right">exit_to_app</i></button>
                    
                </div>

            </div>

            <!-- user can register by using register link-->

            <a href="{{url_for('register')}}" style="text-decoration:underline;color:orangered" ><strong>Don't have an account? Register here</strong></a>
            
           
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



    <script type="text/javascript">
        
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
        });
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        $(document).ready(function() {
            $('.parallax').parallax();
        });
    </script>


    {% endblock %}
