{% extends "base.html" %} {% block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<strong class=flashes>
	
	
	{% for message in messages %}<br>
	{{ message }}</strong> {% endfor %}
</ul>
{% endif %} {% endwith %}

<div class="container recipe-container content-container">
	<!-- Recipe-->
	<section class="recipe">
		<div class="row">
			<div class="col s12 m12 l12">
				<div class="page-header">
					<h2 class="text-uppercase">RECIPE</h2>



					<!--rate recipe-->
				</div>
			</div>
		</div>

		<div>
			<!--http://www.sharelinkgenerator.com/-->
			<strong>Like this recipe</strong>&nbsp<a href="{{ url_for('likes', recipe_id=recipe._id) }}" <button class="waves-effect waves-light btn-small" type="submit" style="background-color:blue; color: white; margin-left:10px" name=" action"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
			</button><br>
		</div>

		<!--referred to this site for help with sharing recipe on social media - https://socialsharekit.com/-->
		<!--http://www.sharelinkgenerator.com/-->
		<!--also referred to this article - https://stackoverflow.com/questions/3012716/css-how-to-remove-pseudo-elements-after-before-->
		<!--referred to this for help with sharing links - https://css-tricks.com/simple-social-sharing-links/-->
		<div class="shares">

			<ul>
				<li><strong>Share on facebook</strong>&nbsp<a href="{{ url_for('shares1', recipe_id=recipe._id) }}" href="https://www.facebook.com/sharer.php?..." ><i class="fa fa-facebook" aria-hidden="true"></i></a>
				</li>
				
				<!--<li><a href="https://twitter.com/intent/tweet?..." target="blank" rel="noopener noreferrer"><img src="twitter-icon.png" alt="Share Page on Twitter" />{{ url_for('shares1', recipe_id=recipe._id) }}Share on Twitter</a></li>-->
			</div>
			
			<!--<ul>-->
			<!--	<li class="social-share facebook" "{{ url_for('shares1', recipe_id=recipe._id) }}"><img src="facebook-icon.png" alt="Share Page on Facebook" /></li>-->
			<!--	<li class="social-share twitter" "{{ url_for('shares1', recipe_id=recipe._id) }}"><img src="twitter-icon.png" alt="Share Page on Twitter" /></li>-->
			<!--	<li class="social-share pinterest" "{{ url_for('shares1', recipe_id=recipe._id) }}"><img src="pinterest-icon.png" alt="Share Page on Pinterest" /></li>-->
			<!--</ul>-->
			<!--{{ url_for('shares1', recipe_id=recipe._id) }}<a href="https://www.facebook.com/sharer/sharer.php?u="><i class="fa fa-facebook" aria-hidden="true"><strong>Share on Facebook</strong></i></a>-->
			<!--</button>-->

	

		<!--<div class="ssk-group ssk-count">-->
		<!--	<a href="https://www.facebook.com/sharer.php" class="ssk ssk-facebook" ><i class="fa fa-facebook" aria-hidden="true"></i></a>-->

		<!--	<a href="https://https://twitter.com/intent/tweet" class="ssk ssk-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
		<!--	<a href="https://www.pinterest.com/sharer/sharer.php" class="ssk ssk-pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>-->

		<!--</div>-->





		<div class="row" style="text-align:center"></div>
		<h3><em>{{recipe.recipe_name}}</em></h3>

		<div row="recipe">

			<div class="col s12 m12 l12">
				<img src="{{ recipe.image }}" alt="image" height=300 width=285>

				<!--referred to https://stackoverflow.com/questions/41081380/white-space-pre-not-working-as-expected-->

				<div class="ingredients col s12 m6 l6" style="white-space:normal">
					<h3>Ingredients</h3>

					{{ recipe.ingredients }}
				</div>

				<div class="methods col s12 m6 l6" style="white-space:normal">
					<h3>Methods</h3>

					{{ recipe.methods }}

				</div>

				<p><strong>Submitted by:<strong>{{ recipe.username }} |  <strong>Date:</strong> {{recipe.date_added}}</p>




			</div>
		</div>

</div>



<!-- button for edit recipe -->


<!--Taken from Spence Barribal's code (student Code Institute).-->
{% if session['username'] == recipe.username %}
<div class="row float-right">
	<a href="{{ url_for('edit_recipe', recipe_id=recipe._id, username=username) }}" class="btn btn-secondary mr-3" style="background-color:orangered; float:right">Edit Recipe</a><br><br>
	<a href="{{ url_for('delete_recipe', recipe_id=recipe._id, username=username) }}" class="btn btn-danger" style="background-color:orangered; float: right">Delete Recipe</a>
</div>
{% endif %}




</div>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}