{% extends "base.html" %} {% block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<ul class=flashes>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %} {% endwith %}

<div class="container recipe-container content-container">
	<!-- Recipe-->
	<section class="recipe">
		<div class="row">
			<div class="col s12 m12 l12">
				<div class="page-header">
					<h2 class="text-uppercase">RECIPE</h2>


					
					<!--rate recipe-->
				</div>
			</div>
		</div>


	
                <a href="{{ url_for('likes', recipe_id=recipe._id) }}"  
                <button class="waves-effect waves-light btn-small" type="submit" style="background-color:blue; color: white; margin-left:10px" name=" action"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
             </button>


		</footer>
		<div class="row" style="text-align:center"></div>
		<h3><em>{{recipe.recipe_name}}</em></h3>

		<div row="recipe">

			<div class="col s12 m12 l12">
				<img src="{{ recipe.image }}" alt="image" height=300 width=285>

				<!--referred to https://stackoverflow.com/questions/41081380/white-space-pre-not-working-as-expected-->

				<div class="ingredients col s12 m6 l6" style="white-space:normal">
					<h3>Ingredients</h3>

					{{ recipe.ingredients }}
				</div>

				<div class="methods col s12 m6 l6" style="white-space:normal">
					<h3>Methods</h3>

					{{ recipe.methods }}

				</div>

				<p><strong>Submitted by:<strong>{{ recipe.username }} |  <strong>Date:</strong> {{recipe.date_added}}</p>




			</div>
		</div>

</div>



<!-- button for edit recipe -->


<!--Taken from Spence Barribal's code (student Code Institute).-->
{% if session['username'] == recipe.username %}
<div class="row float-right">
	<a href="{{ url_for('edit_recipe', recipe_id=recipe._id, username=username) }}" class="btn btn-secondary mr-3" style="background-color:orangered; float:right">Edit Recipe</a><br><br>
	<a href="{{ url_for('delete_recipe', recipe_id=recipe._id, username=username) }}" class="btn btn-danger" style="background-color:orangered; float: right">Delete Recipe</a>
</div>
{% endif %}




</div>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}